/*---------------------------------------------------------------- Start of GlobalCSS ----------------------------------------------------------------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0096ff;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.section-heading {
  text-align: center;
  color: #fff;
  padding: 50px 0;
  font-size: 2rem;
  text-shadow: 1px 1px #000;
}

.section-padding {
  padding: 20px 0;
}

/*---------------------------------------------------------------- End of GlobalCSS ----------------------------------------------------------------*/

/*---------------------------------------------------------------- Start of Navbar Section ----------------------------------------------------------------*/

.navbar {
  background-color: #0096ff;
  border-bottom: #fff 1px solid;
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar ul {
  list-style: none;
  overflow: hidden;
}

.navbar li a {
  color: #fff;
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
  background-color: coral;
}

.navbar .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 15px 20px;
  text-decoration: none;
}

/* menu */

.navbar .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.navbar .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.navbar .menu-icon .navicon:before {
  top: 5px;
}

.navbar .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.navbar .menu-btn {
  display: none;
}

.navbar .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.navbar .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .navbar li {
    float: left;
  }
  .navbar li a {
    padding: 20px 30px;
  }
  .navbar .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .navbar .menu-icon {
    display: none;
  }
}

/*---------------------------------------------------------------- End of Navbar Section ----------------------------------------------------------------*/

/*---------------------------------------------------------------- Start of Header Section ----------------------------------------------------------------*/

.header {
  width: 100%;
  border-bottom: #fff 1px solid;
  height: 740px;
}

.header img {
  max-width: 500px;
}

.header .container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.header h3 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5em;
  width: 85%;
}

/*---------------------------------------------------------------- End of Header Section ----------------------------------------------------------------*/

/*---------------------------------------------------------------- Start of Skills Section ----------------------------------------------------------------*/
.skills {
  border-bottom: #fff 1px solid;
}

.skills h3 {
  padding: 10px 0;
  font-size: 1.5rem;
}

.skills p {
  line-height: 1.5em;
}

.skills .box {
  width: 320px;
  height: 300px;
  text-align: center;
  margin: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 10px 10px;
}

.skills .box:hover {
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}

.skills .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.box p {
  width: 80%;
}

/*---------------------------------------------------------------- End of Skills Section ----------------------------------------------------------------*/

/*---------------------------------------------------------------- Start of Projects Section ----------------------------------------------------------------*/

.projects {
  border-bottom: #fff 1px solid;
}

.projects .project-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.projects .project-item {
  width: 85%;
  height: 420px;
  background: #fff;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 50px;
  line-height: 1.2em;
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px,
    rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px,
    rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px,
    rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px,
    rgb(255, 85, 85) 40px -40px;
}

.project-list .project-item:hover {
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px,
    rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px,
    rgb(255, 85, 85) 0px 0px 0px 15px;
}

.project-item img {
  width: 95%;
  height: 250px;
  align-self: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 5px;
}

.project-item h3 {
  padding: 20px;
}

.project-item p {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  align-self: end;
  margin-bottom: 30px;
}

.project-item a {
  text-decoration: none;
  color: #000;
}

/*---------------------------------------------------------------- End of Projects Section ----------------------------------------------------------------*/

/*---------------------------------------------------------------- Start of Socials Section ----------------------------------------------------------------*/

.socials {
  width: 100%;
  border-bottom: #fff 1px solid;
  height: 400px;
}

.socials .logo-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 70%;
}

.socials .logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background: #fff;
  box-shadow: 10px 10px;

  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.socials .logo-item .img {
}

/*---------------------------------------------------------------- End of Socials Section ----------------------------------------------------------------*/

@media (max-width: 950px) {
  .header .container {
    flex-direction: column;
  }

  .header h3 {
    padding: 100px 30px 0;
    text-align: center;
  }

  .header img {
    height: 460px;
    margin-bottom: 10px;
  }

  .skills .box {
    margin-bottom: 0;
  }

  .header h3 {
    width: 100%;
  }

  .skills .box {
    margin: 35px auto;
  }

  .skills .boxes {
    text-align: center;
  }

  .projects .project-list {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .header img {
    width: 300px;
    height: 300px;
    margin-bottom: 100px;
  }

  .header h3 {
    font-size: 1rem;
  }
}
